@import url("https://fonts.googleapis.com/css2?family=OpenDyslexic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend&display=swap");
body {
  font-family: "Lexend";
  padding: 10px;
  width: 300px;
  font-size: large;
  background-color: lightblue;
}

label {
  display: block;
  margin: 10px 0 5px;
}

input,
select,
button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-family: "Lexend";
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-family: "Lexend";
}

button:hover {
  background-color: #0056b3;
}
