* {
      font-family: 'Bangers', cursive !important;
      color: #ef5350;
      font-weight: bold;
  }
  body, html * {
    background: white !important;
    background-image: none !important;
  }


  @keyframes wobble {
    0% { transform: rotate(2deg); }
    50% { transform: rotate(-2deg); }
    100% { transform: rotate(2deg); }
  }
  
  h1, h2, h3 {
    display: inline-block;
    animation: wobble 0.2s infinite alternate ease-in-out;
  }

  img {
    filter: contrast(1000%) brightness(100%);
    animation: wobble 0.2s infinite alternate ease-in-out
  }

  /* * {
    border: 2px solid black;
    box-shadow: 1px 1px 0 black;
  } */

  @keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
  }
  
  button {
    animation: bounce 0.3s infinite alternate ease-in-out;
  }