body{
    font-family: Arial, Helvetica, sans-serif;
   
}
button{
    width: 317px;
    height: 55px;
    font-size: larger;
    border-radius: 5px;
    background-color: rgb(189, 168, 200) /* rgb(251, 197, 239) */;
    box-shadow: 3px 1px 1px 1px rgb(116, 115, 117) /* rgb(197, 122, 181) */;
    display: flex;
    justify-content: flex-start;
}
button:hover{
    background-color: rgb(172, 122, 197);
    color: white;
    cursor: pointer;
    box-shadow: 3px 1px 1px 1px rgb(251, 197, 239);

}
button span{
    padding-top: 10px;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 550;
}
input{
    width: 310px;
    height: 55px;
    font-size: larger;
    border-radius: 5px;
    border-color: 0;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
p{
    font-family: 'Courier New', Courier, monospace;
    min-width: 320px;
}
img{
    height: 45px;
}
