.snowflake {
    position: absolute;
    top: 0;
    animation: fall linear infinite;
}
  
@keyframes fall {
    0% { transform: translateY(0); }
    100% { transform: translateY(100vh); }
}

/* Festive settings buttons */
.btn {
    padding: 10px;
    background: #d12c4f;
    color: white;
    border: 2px solid #fff;
    border-radius: 10px;
    font-size: 1.2em;
    cursor: pointer;
}
  
.btn:hover {
    background: #c02044;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

#garland-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    pointer-events: none; /* Allow interaction with underlying page */
    z-index: 9999;
    /* display: flex; */
    justify-content: none;
    align-items: center;
}
  
.garland {
    position: absolute;
    width: 40px;
    height: 40px;
    background: url("https://png.pngtree.com/png-clipart/20231020/original/pngtree-top-view-3d-rendering-stylized-fir-tree-for-christmas-decoration-png-image_13376764.png") no-repeat center/contain; /* Replace with your garland image */
    transition: transform 0.2s ease;
    pointer-events: none; /* Prevent blocking mouse events */

    opacity: 0.5;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

.light {
    background: url();
    position: absolute;
    animation: fall linear infinite;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0.5;
	}
}

@keyframes flicker {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    60% {
        opacity: 0.6;
    }
    100% {
        opacity: 0;
    }
}